/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
  background-color: #F7F7F7;
}


nav ul a,
nav .brand-logo {
  color: #444;
}


p {
  line-height: 2rem;
}

.semi-transparan {
  background-color: rgba(255, 255, 255, 0.8);
}

.garis-samping-kanan {
  display: inline;
  border-right: 2px solid #0e364d;
  padding-right: 8px;
}

.quote{
  padding: 15px;

}

  .card-custom {
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease-in-out 0s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
}


.button-collapse {
  color: #2196F3;
}
nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-of-contents a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #3da639;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 4px solid #3da639 ;
}
.side-nav a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    <!-- position: absolute;-->
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .garis-samping-kanan {
    border-right: none;
    border-bottom: 5px solid #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  .right-align{
    text-align: center;
  }
  .left-align{
    text-align: center;
  }
}
.ghost-button-thick-border {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #fff;
  color: green;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.tea-button {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  padding: 2px;
  color: green;
  text-align: center;
  outline: none;
  border: 2px solid green;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.tea-button:hover,
.tea-button:active {
  background-color: green;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.tea-button-download {
  display: inline-block;
  width: 235px;
  font-weight: bold;
  padding: 20px;
  color: green;
  text-align: center;
  outline: none;
  border: 2px solid green;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.tea-button-download:hover,
.tea-button-download:active {
  background-color: green;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.tea-wall{
  background-color: rgba(70, 156, 65, 0.6);
}
.section {
  /*padding-top: 0rem;
  padding-bottom: 1rem;*/
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
